:root{
    --marron: #18130d;
    --amarillo: lightyellow;
    --naranja: #BD7332;
    --borde: 10px;
}

nav{
    width: 1000px;
    position: sticky;
    top: 0;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--marron);
    border-radius: var(--borde);
}
#logo{
    margin-top: 5px;
    margin-left: 15px;

}

.button{
    font-size: x-large;
    background-color: var(--marron);
    border: none;
    border-radius: var(--borde);
    cursor:url(/img/cursor2.png), auto;
}
#imgh{
    width: 1000px;
    border-radius: var(--borde);
}
.button:hover{
    background-color: var(--naranja);
}