/* Variables */
:root{
    --marron: #18130d;
    --amarillo: lightyellow;
    --naranja: #BD7332;
    --naranjaTraslucido: rgba(212, 87, 29, 0.6);
    --borde: 10px;
}
/* Fuente personalizada */
@font-face{
    font-family: Sarkowik;
    src: url(/fuentes/Sarkowik.ttf);
}
/* Estilos */
*{
    font-family: Sarkowik;
    color: var(--amarillo);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header */
nav {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--marron);
    border-radius: var(--borde);
    box-sizing: border-box;
}
#logo {
    width: 33%;
    margin-top: 5px;
    margin-left: 15px;
}
.button {
    width: 33%;
    font-size: x-large;
    background-color: var(--marron);
    border: none;
    border-radius: var(--borde);
    cursor: url(/img/cursor2.png), auto;
    padding: 20px;
    flex: 1 1 none;
}
.imgh {
    width: 100%;
    border-radius: var(--borde);
    margin-bottom: 10px;
}