*{
    margin: 0px;
    padding: 0px;
}
:root{
    --marron: #18130d;
    --amarillo: lightyellow;
    --naranja: #BD7332;
}
body{
    background-color: var(--marron);
    cursor:url(/img/cursor.png), auto;
}
a{
    cursor:url(/img/cursor2.png), auto;
}
#fondo{
    width: 90%;
    height: 90%;
    width: 1000px;
    margin: auto; 
    margin-top: 10px;
    background-color: var(--marron);

}
