*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --marron: #18130d;
    --amarillo: lightyellow;
    --naranja: #BD7332;
}
body{
    background-color: var(--marron);
    cursor:url(/img/cursor.png), auto;
}
a{
    cursor:url(/img/cursor2.png), auto;
}
#fondo{
    width: 80%;
    height: 80%;
    max-width: 1000px;
    margin: auto; 
    margin-top: 10px;
    background-color: var(--marron);
    margin-bottom: 200px;
}
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background: #BD7332;
    border-radius: 5px;
    border-right: 1px solid #BD7332
}